:root {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

#pyramid {
    width: 500px;
    height: 500px;
}

.pyramid-part {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: red;
    justify-content: center;
}

button {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
}
